{% extends "base/base.html" %}

{% load static %}
{% load account %}
{% block content %}
{% csrf_token %}
<style>
  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-in-text {
    margin-left: 5px;
  }
</style>
{% if request.user.is_authenticated%}
<div class="flex m-auto border w-[90%] justify-center  bg-blue-200 h-20 rounded rounded-lg">

  <div class="w-[90%] mt-6">
    <h1 class="ml-3"> Welcome, {{request.user.username}}!</h1>
  </div>
  <div class=" my-6 hover:text-blue-600">
    <a href="{% url 'account_logout' %}" class="">Sign Out</a>
  </div>
</div>

{%else%}

<div>
  <h1 class="text-light font-bold text-center">
    You are not sign in
  </h1>
</div>
<div class="signup-form">
  <h2>Sign up with your account</h2>
  <form action="">
    <a href="{% url 'account_login' %}">
      <button type="button" class="btn btn-outline-dark btn-google ">
        <img src="{% static 'glogo.png' %}" alt="Button Image" style="width: 22px;" />
        <span class="sign-in-text">Sign in with Google</span>
      </button>
    </a>
  </form>
</div>

{%endif%}

{% endblock content %}