{% extends "base/base.html" %}
{% load static %}
{% load socialaccount %}
{% load account %}
{% block content %}

<div class="container">
  <div class="signup-form">
    <h1 class=" text-center bg-gray-100 h-[52px] "> <span class="font-bold text-3xl ">Welcome</span>
    </h1>
    <div class="container">
      <a href="{% provider_login_url 'google' %}">Login with Google</a>

      <!-- <a href="{% provider_login_url 'google' %}">
        <button type="button" class="btn btn-google  ">
          <img src="{% static 'sigoogle2.png' %}" alt="Button Image" />
        </button>
      </a> -->
    </div>

  </div>
</div>

{% endblock %}