{% extends "base/base.html" %}
{% load socialaccount %}
{% load account %}
{% block content %}
{%load static%}
<style>
  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-in-text {
    margin-left: 5px;
  }
</style>
<div class="container">
  <div class="signup-form">
    <h1 class="text-center bg-gray-100 h-[52px]">
      <span class="font-bold text-3xl">Login With</span>
    </h1>
    <div class="container">
      <a href="{% provider_login_url 'google' %}">
        <button type="button" class="btn btn-outline-dark btn-google ">
          <img src="{% static 'glogo.png' %}" alt="Button Image" style="width: 22px;" />
          <span class="sign-in-text">Sign in with Google</span>
        </button>
      </a>
    </div>
  </div>
</div>

{% endblock %}

<div class="signup-form">
  <h2>Sign up with your account</h2>
  <form action="">
    provider_login_url 'google'
    <a href="{% url 'account_login' %}?next=/home">
      <button type="button" class="btn btn-google btn-outline-dark">
        <img src="{% static 'sigoogle2.png' %}" alt="Button Image" />
      </button>
    </a>
  </form>
</div>