{% block content %}
<div class="m-auto w-[50%] m-auto border  rounded-lg">
  <h1 class="text-center bg-gray-100 h-[52px] font-bold text-3xl">Sign Out</h1>

  <p class="text-center my-3">Are you sure you want to sign out?</p>
  <div class="justify-center mx-3">

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <div class="">
        <button type="submit" class="bg-red-200 my-3 rounded-lg w-[100%] p-2">Sign Out</button>
      </div>
    </form>
    <div class="justify-center ">
      <button class="bg-blue-700 text-white rounded-lg w-[100%] my-3 p-2"><a href="/index">Cancel</a></button>
    </div>
  </div>
</div>
  
  {% endblock %}
