{% extends "base/base.html" %}
{% load account %}
{% block content %}

<body class="d-flex flex-column h-100">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark fixed-top">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Home</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <!-- Your Sidebar Links Here -->
                        <!-- ... -->
                    </ul>
                    <hr>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if request.user.socialaccount_set.all %}
                            {% with social_account=request.user.socialaccount_set.first %}
                            <img src="{{ social_account.get_avatar_url }}" alt="{{ request.user.username }}" width="30"
                                height="30" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                            {% endwith %}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mx-1">{{ request.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col col-md-9 ms-sm-auto px-4">
                <!-- Your Main Content Here -->
                <!-- ... -->
            </div>
        </div>
    </div>
</body>
{% endblock content %}