{% extends "base/base.html" %}
{% load account %}
{% block content %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-auto bg-dark sticky-top">
                <div class="bg-dark sidebar d-flex flex-sm-column flex-row flex-nowrap" role="cdb-sidebar">
                    <ul class="nav flex-column mb-sm-auto" id="menu">
                        <li class="mb-4">
                            <a href="index" class="text-light text-decoration-none">
                                <span class="material-icons" style="display: inline-block; vertical-align: middle;">home</span>
                                <span style="display: inline-block; vertical-align: middle;">Home</span>
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="profile" class="text-light text-decoration-none">
                                <span class="material-icons" style="display: inline-block; vertical-align: middle;">person</span>
                                <span style="display: inline-block; vertical-align: middle;">Profile</span>
                            </a>
                        </li>
                        <li class="mb-4">
                            <a href="post_view" class="text-light text-decoration-none">
                                <span class="material-icons" style="display: inline-block; vertical-align: middle;">post_add</span>
                                <span style="display: inline-block; vertical-align: middle;">Post</span>
                        </li>
                        <li>
                            <a href="social_account" class="text-light text-decoration-none">
                                <span class="material-icons" style="display: inline-block; vertical-align: middle;">add_link</span>
                                <span style="display: inline-block; vertical-align: middle;">Social Account</span>
                        </li>


                    </ul>
                    <hr>
                    {% if request.user.is_authenticated %}

                    <div>
                        <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="true">
                            {% if request.user.socialaccount_set.all %}
                            {% with social_account=request.user.socialaccount_set.first %}
                            <img src=" {{ social_account.get_avatar_url }}" alt="hugenerd" style="width:35px;" class="rounded-circle">
                            <span class="d-none d-sm-inline mx-3">{{request.user.username}}</span>
                            {% endwith %}
                            {% endif %}
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                            <li><a class="dropdown-item" href="{% url 'account_logout' %} ">Sign out</a></li>

                        </ul>


                    </div>

                    {%else%}
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                                class="rounded-circle">
                            <span class="d-none d-sm-inline mb-4">{{request.user.username}}</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                            <li><a class="dropdown-item" href="/index">Sign In</a></li>

                        </ul>

                        {%endif%}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% block sidebar %}{% endblock sidebar %}
</body>
{% endblock content %}