{% extends "base/base.html" %}
{% load account %}
{% block content %}

<body>
    <div class="bg-dark sidebar" rolr="cdb-sidebar">
        <div class="d-flex flex-column px-3 pt-2 min-vh-100">
            <ul class="nav flex-column mb-sm-auto" id="menu">
                <li class="mb-2">
                    <a href="profile" class="text-light text-decoration-none">
                        <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">User Profile</span>
                    </a>
                </li>
                <li class="mb-2">
                    <a href="post_view" class="text-light text-decoration-none">
                        <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Posts</span> </a>
                </li>
                <li>
                    <a href="social_account" class="text-light text-decoration-none">
                        <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Social Accounts</span></a>
                </li>
                <!-- <li>
                                    <a href="tweet" class="nav-link px-0 align-middle"> Tweet</a>
                                </li> -->

            </ul>
            <hr>
            {% if request.user.is_authenticated %}

            <div class="dropdown pb-4 ">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.socialaccount_set.all %}
                    {% with social_account=request.user.socialaccount_set.first %}
                    <img src=" {{ social_account.get_avatar_url }}" alt="hugenerd" width="30" height="30"
                        class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">{{request.user.username}}</span>
                    {% endwith %}
                    {% endif %}
                </a>

                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                    <li><a class="dropdown-item" href="{% url 'account_logout' %} ">Sign out</a></li>

                </ul>


            </div>

            {%else%}
            <div class="dropdown pb-4">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                    <span class="d-none d-sm-inline mx-1">{{request.user.username}}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                    <li><a class="dropdown-item" href="/index">Sign In</a></li>

                </ul>

                {%endif%}
            </div>
        </div>
    </div>
    {% block sidebar %}{% endblock sidebar %}
</body>
{% endblock content %}