body {
  background: #076585;
  background: -webkit-linear-gradient(to left, #b4e3ff, #076585);
  background: linear-gradient(to left, #b4e3ff, #076585);
}
.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.signup-form h2 {
  text-align: center;
}
.signup-form form {
  margin-top: 20px;
}

.signup-form {
  width: 100%;
  margin-bottom: 10px;
}

.test {
  height: 200px;
  width: 200px;
}

body {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: rgba(153, 6, 6, 0.5);
  padding: 20px;
  box-sizing: border-box;
}

.content {
  margin-left: 200px; /* or any other width you prefer */
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

hr {
  margin: 1rem 0;
  color: rgb(42, 199, 220);
  background-color: currentColor;
  border: 0;
  opacity: 0.5;
}
