{% extends "base/sidebar.html" %}
{% load socialaccount %}
{% block sidebar %}
{% load crispy_forms_tags %}
{% comment %} {% providers_media_js %} {% endcomment %}
</h1>
  <h1 class=" text-center bg-gray-100 h-[52px] "> <span class="font-bold text-3xl ">Set Posts from here
  </span>
  <div class="signup-form">
    {% crispy form %} 
    
  </div>

{% endblock sidebar %}
    

<!-- templates/post_tweet.html -->

{% comment %} {% extends 'base.html' %}

{% block content %}
  <h2>Post a Tweet</h2>
  <form method="post" action="{% url 'post_tweet' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Post Tweet</button>
  </form>
{% endblock %} {% endcomment %}
