{% extends "base/sidebar.html" %}
{% load socialaccount %}
{% block sidebar %}


{% endblock sidebar %}

<!-- templates/post_tweet.html -->
<!-- My project aims to create a social media manager for academic evolution at My university. My plan to leverage the Twitter API for authentication and tweet management. This involves allowing users to authenticate their accounts through Twitter and enabling the management of tweets related to academic resources, updates, events, and community engagement. -->