{% extends "base/sidebar.html" %}
{% load socialaccount %}

{% block sidebar %}
{% providers_media_js %}
<section class="vh-100">
    <div class="container align-items-center mt-5 h-50">
        <div class="row d-flex justify-content-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        {% if request.user.is_authenticated %}
                        {% if request.user.socialaccount_set.all %}
                        {% with social_account=request.user.socialaccount_set.first %}
                        <div class="col-md-15 gradient-custom text-center">
                            <img src="{{ social_account.get_avatar_url }}" alt="Avatar" class="rounded-circle my-5"
                                style="width: 20%;" />
                        </div>
                        <div class="container">
                            <div class="card-body p-4">
                                <div class="mx-auto">
                                    <div>
                                        <h6>Name:
                                            <span class="text-muted">{{social_account.extra_data.name}}</span>
                                        </h6>

                                    </div>
                                    <div>
                                        <h6>Email: <span class="text-muted">{{social_account.extra_data.email}}</span>
                                        </h6>
                                    </div>
                                    <div>
                                        <h6>Joining Date and Time: <span
                                                class="text-muted ">{{request.user.date_joined}}</span></h6>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock sidebar %}