{% extends "base/sidebar.html" %}
{% load socialaccount %}
{% block sidebar %}
{% providers_media_js %}
<section class="vh-100">
    <div class="container align-items-center mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="row g-0">
                        {% if request.user.is_authenticated %}
                        {% if request.user.socialaccount_set.all %}
                        {% with social_account=request.user.socialaccount_set.first %}
                        <div class="col-md-15 gradient-custom text-center">
                            <img src="{{ social_account.get_avatar_url }}" alt="Avatar" class="rounded-circle my-5"
                                style="width: 20%;" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-4">
                                <div class="mx-auto">
                                    <div>
                                        <h6 class="card-title">Name:</h6>
                                        <p class="card-text text-muted">{{ social_account.extra_data.name }}</p>
                                    </div>
                                    <div>
                                        <h6 class="card-title">Email:</h6>
                                        <p class="card-text text-muted">{{ social_account.extra_data.email }}</p>
                                    </div>
                                    <div>
                                        <h6 class="card-title">Joining Date and Time:</h6>
                                        <p class="card-text text-muted">{{ request.user.date_joined }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endwith %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock sidebar %}
