{% extends "base/sidebar.html" %}
{% load socialaccount %}
{% block sidebar %}
{% load crispy_forms_tags %}

<h1 class=" text-center"> <span>Set Posts from here
  </span>
</h1>
<div class="signup-form mt-5">
  <p class="text-danger text-center">{{error_message | linebreaksbr }}</p>
  <h2>Create a New Post</h2>
  {% csrf_token %}{% crispy form %}
  <!-- <a href="schedule-post" class="btn btn-secondary mt-1"> Schedule Post</a> -->
</div>
<style>
.btn-primary, .btn-secondary{
  display: block;
  margin: 0 auto;
}
</style>
{% endblock sidebar %}
