
{% extends "base/sidebar.html" %}
{% load socialaccount %}
{%load static%}
{% block sidebar %}
{% providers_media_js %}
<div class="col container">
    <h1 class=" text-center text-light mt-5"> Link your accounts </h1>
    <div class="text-center mt-5">

        <a
            class=" btn btn-outline-dark"
            href="{% url 'get-tweets' %}">Get your
            <img src="{% static 'x_white.png' %}" style="width:25px"
                alt="Button Image" />
        </a>

        <a href="{% url 'facebook' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'Facebook_Logo.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>

        <a href="{% url 'linkedin' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'inwhite.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>

        <a href="{% url 'github' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'github-white.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>
    </div>
</div>
{% endblock sidebar %}