
{% extends "base/sidebar.html" %}
{% load socialaccount %}
{%load static%}
{% block sidebar %}
{% providers_media_js %}
<div class="col container">
    <h1 class=" text-center text-light mt-5"> Link your accounts </h1>
    <div class="text-center mt-5">

        <a
            class=" btn btn-outline-dark"
            href="{% url 'Twitter_auth' %}">Link your
            <img src="{% static 'x_white.png' %}" style="width:25px"
                alt="Button Image" />
        </a>

        <a href="{% url 'facebook_auth' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'Facebook_Logo.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>

        <a href="{% url 'linkedin' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'inwhite.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>

        <a href="{% url 'github' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'github-white.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>
        <a href="{% url 'instabasic' %}"
            class="btn btn-outline-dark ms-3"> Link your
            <img src="{% static 'Instagram.png' %}" style="width:25px"
                class="ms-2" alt="Button Image" />
        </a>
        <p>GIT ::{{token}}</p>
    </div>
</div>
{% endblock sidebar %}
<!-- <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to handle Twitter OAuth flow
        $('#twitter-link').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: "{% url 'social_link' %}",
                success: function (response) {
                    console.log('Redirecting to Twitter authorization page...');
                    window.location.href = response.url;
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script> -->
<!-- <script>
// Function to handle the anchor click event
    document.getElementById('link-accounts').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent default anchor click behavior
        // Redirect the user to the authorization URL
        fetch("{% url 'social_link' %}")
            .then(response => response.json())
            .then(data => {
                window.location.href = data.auth_url;
            })
            .catch(error => console.error('Error:', error));
    });
</script> -->

<!-- <a id="link-accounts" class="btn btn-twitter btn-outline-dark"
            href="{% url 'access-token' %}">Get access token
            <img src="{% static 'x_white.png' %}" style="width:25px"
                alt="Button Image" />
        </a> -->